.hidden {
	display: none !important;
}

.mainContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
}

.setup {
	.section{
		.configInput {
			height: 200px;
			width: 200px;
		}
		button, textarea {
			margin: 10px;
		}
		textarea {
			resize: none;
		}
	}
}


.chat {
	display: flex;
	flex-direction: column;
	& > * {
		margin: 5px;
	}
	textarea {
		resize: none;
	}
}
